anthropic==0.46.0
elevenlabs==1.52.0
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
ipykernel==6.29.5
ipython==8.32.0
langchain==0.3.19
langchain-anthropic==0.3.7
langchain-community==0.3.17
langchain-core==0.3.36
langchain-text-splitters==0.3.6
langgraph==0.2.74
langgraph-checkpoint==2.0.16
langgraph-checkpoint-sqlite==2.0.5
langgraph-sdk==0.1.51
langsmith==0.3.8
numpy==2.1
nbformat==5.10.4
notebook==7.3.2
openai==1.65.1
openai-whisper==20240930 
pandas==2.2.3
pocketsphinx==5.0.4
prometheus_client==0.21.1
protobuf==5.29.3
psutil==7.0.0
PyAudio==0.2.14
pydantic==2.10.6
python-dotenv==1.0.1
python-json-logger==3.2.1
SpeechRecognition==3.14.1
soundfile==0.13.1
tavily-python==0.5.1
